@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
html, body {
    height: 100%;
    width: 100%;
    font-family: 'Anton', sans-serif;
    font-size: 200px;
    text-align: center;
  }
  @import url('https://fonts.googleapis.com/css2?family=Anton&family=Indie+Flower&display=swap');
  div {
    height : 50%;
    width: auto;
    font-family: 'Indie Flower', cursive;
    font-size: 500px;
    text-align: calc(center - 20px);
    top: 40%;
  }