@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
html, body {
    height: 100%;
    width: 100%;
    font-family: 'Anton', sans-serif;
    font-size: 200px;
    text-align: center;
    background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.YTDfeH8WrNg-qCwnH5Q2NgHaE_%26pid%3DApi&f=1");
    background-repeat: no-repeat;
    background-size: cover;
  }
  @import url('https://fonts.googleapis.com/css2?family=Anton&family=Indie+Flower&display=swap');
  div {
    height : 50%;
    width: auto;
    font-family: 'Indie Flower', cursive;
    font-size: 150%;
    text-align: calc(center - 20px);
    top: 40%;
  }